{% extends "layout.html" %}

{% block title %}Projects - Ruari Hodgin{% endblock %}

{% block content %}

<section class="max-w-7xl mx-auto py-8">
    <!-- Page Title -->
    <h2 class="text-4xl font-bold mb-6 text-center">Projects</h2>

    <!-- Search Bar -->
    <form action="/projects" method="get" class="flex mb-6 justify-center" id="search-form">
        <input
            id="search" 
            type="search"
            name="q"
            placeholder="Search projects..."
            value="{{request.args.get('q') or ''}}"
            hx-get="/projects"
            hx-trigger="search, keyup delay:200ms changed"
            hx-target="#project-results"
            class="w-[70%] px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 dark:bg-gray-800 dark:border-gray-700 dark:text-white"
        >
    </form>

    <!-- project count -->
    <div class="mb-4 mx-auto text-sm text-gray-600 dark:text-gray-400">
        <span id="project-count"
            hx-get="/projects/count"
            hx-include="#search"
            hx-trigger="load, keyup changed from:body">
            <img id="spinner" class="htmx-indicator"
                    style="height: 20px"
                    src="/static/images/spinning-circles.svg"
                    alt="Request in progress"
                />
        </span>
    </div>

    <!-- project list -->
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-3" id="project-results">
        {% include "list.html" %}
    </div>
   
</section>

{% endblock %}
